.menu{
    font-size: 1.7em;

}

ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.activeLink{
    font-weight: bold;
    color: #c56cf0;
    text-decoration: underline;
}

a{
    text-decoration: none;
    color: black;
}

a:hover{
    color:#c56cf0
}
