.todo-add {
    margin-top: 100px;
}


.form-todo-add {
    display: flex;
    flex-direction: column;
    margin: 8px;
    padding: 10px;
}

input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.btn {
    background-color: #c56cf0;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

.todo-add label{
    margin-bottom: 5px;
    font-size: larger;
}


.todo-add h1 {
    text-align: center;
}